<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIpx" />
        <binding name="BasicHttpsBinding_IIpx">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_IIpx">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://irosepetals.com/Ipx.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IIpx" contract="IIpx"
          name="BasicHttpBinding_IIpx" />
      <endpoint address="https://www.irosepetals.com/Ipx.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpsBinding_IIpx" contract="IIpx"
          name="BasicHttpsBinding_IIpx" />
      <endpoint address="http://irosepetals.com/Ipx.svc/mex" binding="wsHttpBinding"
          bindingConfiguration="MetadataExchangeHttpBinding_IIpx" contract="IIpx"
          name="MetadataExchangeHttpBinding_IIpx" />
    </client>
  </system.serviceModel>
</configuration>